@using CrbAuth.Entities
@model IEnumerable<CrbAuth.Entities.User>

<h2>User Management</h2>

@if (!Model.Any())
{<tr>
     <td colspan="3" class="text-center">
         No User Accounts
     </td>
 </tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="User Management">
        <tr>
            <th>User ID</th>
            <th>User name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        @foreach (User user in Model)
        {
    <tr>
        <td>@user.UserId</td>
        <td>@user.UserName</td>
        <td>@user.Email</td>
        
        <td>
            <form asp-action="DeleteUser" asp-route-userId="@user.UserId.ToString()" method="post">
                <a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-userId="@user.UserId.ToString()">Edit</a>
                <button type="submit" onclick="return confirm('Do you really want to delete this user?');" class="btn btn-sm btn-danger">Delete</button>
            </form>
        </td>

    </tr>
        }
    </table>
}

<p>
    @*<a class="btn btn-primary" asp-action="AddUser">Add new user</a>*@
    <a anchor-style="primary" asp-action="AddUser">Add New User</a>
</p>